  <div>
    <h1 class="card-title">Contact details</h1>
      <div><b>FirstName:</b> {{contact?.firstName}}</div>
      <div><b>LastName:</b> {{contact?.lastName}}</div>
      <div><b>Email:</b> {{contact?.email}}</div>
      <div><b>Password:</b> {{contact?.password}}</div>
      <div><b>Phone:</b> {{contact?.phone}}</div>
      <div><b>Date of birth:</b> {{contact?.dateOfBirth}}</div>
      <div><b>Category:</b> {{contact?.caategory?.name}}</div>
      <div><b>Sub-Category:</b> {{contact?.subCategory?.name}}</div>

</div>
